.navbarku{
	background-color: #5A92FF;
}
.nav-link{
	color: #fff !important;
}

.table-color-header {
  background-color: #FD79A8;
  color: white;

}

.title{
	font-family: "Raleway", sans-serif;
	color:#FD79A8;
	text-align: center;

}
.button-show {
	background-color: #eb962f;
	border-radius: 15px;
	color: white;
	padding: 5px 15px;

}
.center{
	text-align: center;
}

/*Login*/

.none{
	display: none;
}

.card-login{
	background: #fbfbfb;
	border-radius: 8px;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
	height: 410px;
	margin: 6rem auto 8.1rem auto;
	width: 329px; 
}

/*.body{
	background: -webkit-linear-gradient(bottom, #2d98da, #45aaf2);
	background-repeat: no-repeat; 
}*/
.btn-login{
	width: 100%;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
}
.tittle h1{
	color: #1e90ff;
	font-family: "Raleway Thin", sans-serif;
	font-size: 25px;
}

.underline-tittle{
	background: -webkit-linear-gradient(right, #81ecec , #0fbcf9);
	height: 2px;
	margin: -1.1rem auto 0 auto;
	width: 89px;
	margin-top: 2px;

}

.label{
	font-family: "Raleway", sans-serif;
	font-size: 11pt;
	color: #1e90ff;

}

.link-register a{
	font-family: "Raleway", sans-serif;
	font-size: 13px;
	margin-top: 10px;
}

/*.form{
	align-items: left;
	display: flex;
	flex-direction: column;
}

.form-border{
	background: -webkit-linear-gradient(right, #81ecec , #0fbcf9);
	height: 1px;
	width: 100%;
}

.form-content{
	background: #fbfbfb;
	border: none;
	outline: none;

}*/
/*.submit-btn {
    background: -webkit-linear-gradient(right, #81ecec , #0fbcf9);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #0fbcf9;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
}*/
.card-register{
	background: #fbfbfb;
	border-radius: 8px;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
	height: 420px;
	margin: 6rem auto 8.1rem auto;
	width: 500px; 
}

.label-regis{
	font-family: "Raleway", sans-serif;
	font-size: 11pt;
	color: #1e90ff;
	margin-left: 25px;
	margin-top: 20px;

}
.form-nama{
	margin-left: 50px;
}
.form-alamat{
	margin-left: 45px;
}
.form-no_tlp{
	margin-left: 40px;
}
.btn-regis{
	width: 100%;
	font-family: "Raleway", sans-serif;
	font-size: 14px;

}
.underline-tittle-regis{
	background: -webkit-linear-gradient(right, #81ecec , #0fbcf9);
	height: 2px;
	margin: -1.1rem auto 0 auto;
	width: 200px;
	margin-top: 2px;

}

/*Outlet*/
.tittle-outlet h2{
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	color: #FD79A8;
	text-align: center;

}

/*edit Pengguna*/
.card-register-edit{
	background: #fbfbfb;
	border-radius: 8px;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
	height: 410px;
	margin: 6rem auto 8.1rem auto;
	width: 500px; 
}

.underline-tittle-edit-pengguna{
	background: -webkit-linear-gradient(right, #81ecec , #0fbcf9);
	height: 2px;
	margin: -1.1rem auto 0 auto;
	width: 180px;
	margin-top: 2px;

}
.form-role-edit{
	margin-left: 30px;
}
.form-nama-edit{
	margin-left: 20px;
}
.form-email-edit{
	margin-left: 22px;
}
.form-outlet-edit{
	margin-left: 20px;
}
/*Tambah Pengguna*/
.card-tambah-pengguna{
	background: #fbfbfb;
	border-radius: 8px;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
	height: 540px;
	margin: 1rem auto 8.1rem auto;
	width: 500px; 
}
.underline-tittle-tambah-pengguna{
	background: -webkit-linear-gradient(right, #81ecec , #0fbcf9);
	height: 2px;
	margin: -1.1rem auto 0 auto;
	width: 240px;
	margin-top: 2px;

}

.form-nama-tambah{
	margin-left: 80px;
}
.form-email-tambah{
	margin-left: 82px;
}
.form-pass-tambah{
	margin-left: 55px;
}
.form-role-tambah{
	margin-left: 10px;
}

/*Show blade*/
/*.leftcolumn{
	float: left;
	width: 25%;
}

.rightcolumn {
	float: left;
	width: 75%
	padding-right: 20px;
}
.card-show-blade {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}
*/
.card-detail-outlet{
	background: #fbfbfb;
	border-radius: 8px;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
	height: 400px;
	margin: 6rem auto 8.1rem auto;
	width: 1000px; 
}

/*create Transaksi*/
.txt-nama h2{
	color: #1e90ff;
	font-family: "Raleway", sans-serif;
	font-size: 16px;

}
.btn-newmem{
	margin-left: 15px;
}
.txt-tittle h2{
	color: #1e90ff;
	font-family: "Raleway", sans-serif;
	font-size: 30px;
}

.txt-outlet h1{
	color: #FD79A8;
	font-family: "Raleway", sans-serif;
	font-size: 27px;
}

.name-form{
	margin-left: 15px;
}
.btn-submit{
	width: 100%;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	margin-left: 18px;
}
.btn-back{
	font-family: "Raleway", sans-serif;
	font-size: 13px;
	margin-left: 5px;
}

/*Edit Transaksi*/

.edit-txt-name h2{
	color: #FD79A8;
	font-family: "Raleway SemiBold", sans-serif;
	font-size: 25px;
	margin-left: 20px;
}

.edit-txt-paket h2{
	color: #FD79A8;
	font-family: "Raleway SemiBold", sans-serif;
	font-size: 25px;
	margin-left: 8px;
}

.btn-submit-edit{
	width: 100%;
	font-family: "Raleway", sans-serif;
	font-size: 14px;

}

.btn-submit-outlet{
	width: 100%;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	margin-left: 20px;
}

.txt-nama-show h2{
	color: #1e90ff;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
}

.row-left{
	margin-left: 90px;
}

.card-member{
	background: #fbfbfb;
	border-radius: 8px;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
	height: 450px;
	margin: 4rem auto 8.1rem auto;
	width: 329px; 
}
.underline-tittle-show-pengguna{
	background: -webkit-linear-gradient(right, #81ecec , #0fbcf9);
	height: 2px;
	margin: -1.1rem auto 0 auto;
	width: 160px;
	margin-top: 2px;

}

.name-txt h2{
	color: #1e90ff;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	margin-left: 15px;
}

.txt-datmem h2{
	color: #FD79A8;
	font-family: "Raleway SemiBold", sans-serif;
	font-size: 17px;
	margin-left: 15px;
}

.btn-back{
	width: 100%;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	margin-left: 25px;
}

.btn-back-detail-outlet{
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	margin-left: 100px;
}

.txt-datmem-detout h2{
	color: #FD79A8;
	font-family: "Raleway SemiBold", sans-serif;
	font-size: 17px;

}

.btn-submit-paket{
	width: 100%;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
}
